{% extends "admin/change_list.html" %}
{% load i18n admin_urls static admin_modify %}

{% block extrahead %}{{ block.super }}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script>
var chart;
jQuery(document).ready(function() {
  Highcharts.chart('container2', {
	chart: {
        type: 'column',
        height: 650
    },
    title : { text : `Status` },
    xAxis: {
        type: 'category'
    },
    yAxis: {
        title: {
            text: 'States'
        }

    },
    legend: {
        enabled: false
    },
    plotOptions: {
        series: {
            borderWidth: 0,
            dataLabels: {
                enabled: true,
                format: '{point.y}'
            }
        }
    },
    series: [{
        name: 'States',
        colorByPoint: true,
        data: {{states | safe}}
    }]
});
Highcharts.chart('container3', {
	chart: {
                type: 'bar',
                height: 650
            },
            tooltip: {
                valueSuffix: ' days'
            },
            title : { text : `Completion Times` },
            xAxis: {
                categories: {{ct_categories | safe}},
                crosshair: true,
                labels: {
                    rotation: -45
                }
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Time to Complete (days)',
                    align: 'high'
                },
                labels: {
                    overflow: 'justify'
                }
            },
            plotOptions: {
                bar: {
                    dataLabels: {
                        enabled: true,
                        allowOverlap: true,
                        format: '{point.y} days'
                    }
                }
            },
            series: {{ct_series | safe}}
});
Highcharts.chart('container4', {
	chart: {
                zoomType: 'xy'
             },
        title : { text : `Mothly Stats` },
        xAxis: {
                categories: {{ms_categories | safe}},
                crosshair: true
            },
        yAxis: [{ // Primary yAxis
                labels: {
                    format: '{value}'
                },
                title: {
                    text: 'Completed'
                },
                opposite: true

            }, { // Secondary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'Time to Complete'
                },
                labels: {
                    format: '{value} days'
                }

            }, { // Tertiary yAxis
                gridLineWidth: 0,
                title: {
                    text: 'In Due Date'
                },
                labels: {
                    formatter: function () {
                        return this.value;
                    }
                },
                opposite: true
            }],
            tooltip: {
                hared: true
            },
            plotOptions: {
                series: {
                    borderWidth: 0,
                    dataLabels: {
                        enabled: true,
                        allowOverlap: true,
                        format: '{point.y}'
                    }
                }
            },
            series: {{ms_series | safe}}
});
});
</script>
{% endblock %}


{% block content %}{{ block.super }}
	<div id="container2"></div>
	<div id="container3"></div>
    <div id="container4"></div>
{% endblock %}
